head, body{
margin:0 0;
}
body {
	font-family: "Times New Roman", Georgia, Serif; background-color:#E0E0E0
	}
	h1, h2, h3, h4, h5, h6 {
	  font-family: "Playfair Display";
	  letter-spacing: 5px;
	}
	.logo_header{
	 margin:100px 260px;
	}
	.jpg{
	margin-left:0px;
	}
	#sredina{
	background-color: white;
	box-shadow: 10px 10px 5px gray;
	border-radius: 15px;
	margin-bottom:28px;
	}
	.sredinatop{
	margin-left:45%;
	}
	#naslov{
	text-align:center;
	color:black;
	}
	#searchbar{
	height: 35px;
	width: 200px;
	border-radius: 18px;
	border: none;
	font-family: "Playfair Display";
	background-color: #f0f0f0;
	margin-left: 25%;
	margin-top: 4px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: black;
	font-size: 14px;
	background-image: url(slike/search.png);
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: 90% 40%;
	}
	.socialicons{
	margin-top:10px;
    margin-left:80%;
    text-align: center;
}
.footer{
    float:left;
	margin-left:20%;
	margin-top:0;
	
}
/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  height:800px;
  margin: auto;
  margin-top: 80px;
  
}

/* Caption text */
.text {
  font-family: "Playfair Display";
  color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  font-family: "Playfair Display";
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
a {
  text-decoration: none;
}
img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  
}
/*.cover{
	object-fit: cover;
  width: 700px;
  height: 800px;
  }*/